.navbar-text {
  padding-right: 9px;
}

p.postbutton {
	padding-left: 9px;
}

.date {
	font-size: 80%;
}

.visitmessage {
	padding-left: 10 px;
}

#showCommentCreator {
	margin-bottom: 10px;
}

.clearbutton {
	margin-top: 10px;
}

.infotag
{
	padding-top:4px;
	font-size: 90%;
}

.comments {
	margin-right: 20px:
}

p { 
    word-wrap:break-word;
}