#{extends 'main.html' /}
#{set title:"${blog.author}'s ${blog.name} Blog" /}
#{include 'nav/open.html' /}
        </ul>                        
#{include 'nav/close.html' /}

<div class="row-fluid">
  #{if reversePosts.size > 0}
  <div class="well">
    #{list items:reversePosts, as:'post'}    
    
      <h5>
        <a href="@{PublicBlogPost.guestVisit(blog.id, post.id)}"> ${post.title} </a></br>
      </h5>
      <p class="date">
        On ${post.postedAt.format('dd MMM yy')} at
        ${post.postedAt.format('hh:mm')}
      </p>
      <hr>
    #{/list}
  </div>
  #{/if} #{else}
  <p class="noposts">${blog.author} has no posts added to this blog yet!!</p>
  #{/else}
</div>


<div class="row-fluid">
  <p>
    <a href="/" class="btn btn-primary"><i
      class="icon-backward"></i> Back To Home Page</a>
  </p>
</div>

<div class="row-fluid">
  <p>
    Why not <a href="/signup">signup</a> to Spacebook so you can create
    your own blog!
  </p>
</div>
