#{extends 'main.html' /}
#{set title:"${blog.name} Blog by ${blog.author}" /}
#{include 'nav/open.html' /}
#{if loggedInUser}        
  <li>                <a href="/home">           Home               </a></li>
  <li>                <a href="/subscriptions">  Subscriptions      </a></li>
  <li>                <a href="/members">        Members            </a></li>
  <li>                <a href="/homeprofile">    My Profile         </a></li>
#{/if} 
  <li class="active"> <a href="#">               Blog: ${blog.name} </a></li>
</ul>                    
#{include 'nav/close.html' /}

<div class="row-fluid">
  #{if reversePosts.size > 0}
  <div id ="content" class="well span8">
    <h3>Blog Posts</h3>
    #{list items:blog.posts, as:'post'}
    <h4>
      <a href="@{PublicBlogPost.visit(post.id)}"> ${post.title} </a></br>
    </h4>
    <p class="date">On ${post.postedAt.format('dd MMM yy')} at
      ${post.postedAt.format('hh:mm')}</p>
    
    <hr>
    #{/list}

  </div>
  #{/if} #{else}
  <p>There are no posts in this blog.</p>
  #{/else}  
</div>


#{if loggedInUser}
<a href="/userprofile/${user.id}" class="btn btn-success">Back To ${user.firstName}'s Profile</a>
#{/if}
#{else}
  <a href="/" class="btn btn-success"><i class="icon-home icon-white">  </i>Back To Home</a>
#{/else}