#{extends 'main.html' /}
#{set title:"User Profile for ${user.firstName}" /}
#{include 'nav/open.html' /}        
  <li>  <a href="/home">           Home           </a></li>
  <li>  <a href="/subscriptions">  Subscriptions  </a></li>
  <li>  <a href="/members">        Members        </a></li>
  <li>  <a href="/homeprofile">    My Profile     </a></li>
</ul>                   
#{include 'nav/close.html' /}
<div class="container">
  <div class="row">
    <div class="well span5">
      <h3>${user.firstName}'s Info</h3>
      <hr>
      <p>
        <strong>Profile Picture</strong><br>
        <img src="/homeprofile/getpicture/${user.id}" class="img-rounded"> 
      </p>
      <hr>
      <p></p>
      <p>
        <strong>Visitor Message</strong><br>
        ${user.visitorMessage}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span5 well">
      <h4>Public Blogs</h4>
      #{if publicBlogs.size > 0}
        <table class="table table-striped table-bordered">
          <tr>
            <th>Blog Name</th>
            <th># Posts</th>
          </tr>     
          #{list items:publicBlogs, as:'publicBlog'}
          <tr>
            <td><a href="@{BlogView.show(publicBlog.id)}">${publicBlog.name}</a></td>
            <td>${publicBlog.posts.size()}</td>  
          </tr>
          #{/list}
        </table>
      #{/if}
      #{else}
        <p>
          ${user.firstName} is a slacker. They have no public blogs at the moment.
        </p>
      #{/else}
    </div>
    <div class="well pull-right span5">
      <h4>Private Blogs</h4>
      #{if (isSubscribing && privateBlogs.size > 0)}
        <table class="table table-striped table-bordered">
          <tr>
            <th>Blog Name</th>
            <th># Posts</th>
          </tr>              
          #{list items:privateBlogs, as:'privateBlog'}
          <tr>
            <td><a href="@{privateBlog.visit(privateBlog.id)}">${privateBlog.name}</a></td>
            <td>${privateBlog.posts.size()}</td>  
          </tr>
          #{/list}
        </table>
      #{/if}
      #{elseif !isSubscribing}
        <p>
          You are not subscribed to ${user.firstName} so you can't view their private posts.
        </p>
      #{/elseif}
      #{else}
        <p>
          ${user.firstName} is a slacker. They have no private blogs at the moment.
        </p>
      #{/else}
    </div>
  </div>
  <a href="/home" class="btn btn-success"><i class="icon-home icon-white">  </i>  Back Home</a>
</div>