#{extends 'main.html' /}
#{set title:"User Profile for ${user.firstName}" /}
#{include 'nav/open.html' /}
        
<li><a href="/home"> Home </a></li>
<li><a href="/subscriptions"> Subscriptions </a></li>
<li> <a href="/members">     Members </a></li>
<li><a href="/homeprofile"> My Profile </a></li>

</ul>
                   
#{include 'nav/close.html' /}

<div class="container">
  <div class="row">
    <div class="well span5">
      <h3>${user.firstName}'s Info</h3>
      <hr>
      <p>
        <strong>Profile Picture</strong>
        <br>
        <img src="/homeprofile/getpicture/${user.id}" class="img-rounded"> 
      </p>
      <hr>
      <p></p>
      <p>
        <strong>Visitor Message</strong>
        <br> ${user.visitorMessage}</p>
      <hr>
      <hr> 
    </div>
  </div>
  <div class="row">
    <div class="span5 well">
      <h4>Public Blogs</h4>
      #{if publicBlogs.size > 0}
        #{list items: publicBlogs, as:'publicBlog'}
          <h5>
            <a href="@{PublicBlog.visit(publicBlog.id)}"> ${publicBlog.name} (${publicBlog.posts.size()})</a></br>
          </h5> 
        #{/list}
      #{/if}
      #{else}
        <p>
          ${user.firstName} is a slacker. They have no public blogs at the moment.
        </p>
      #{/else}
    </div>
    <div class="well pull-right span5">
      <h4>Private Blogs</h4>
      #{if (isSubscribing && privateBlogs.size > 0)}
        #{list items: privateBlogs, as:'privateBlog'}
          <h5>
            <a href="@{PrivateBlog.visit(privateBlog.id)}"> ${privateBlog.name} (${privateBlog.posts.size()})</a></br>
          </h5> 
        #{/list}
      #{/if}
      #{elseif !isSubscribing}
        <p>
          You are not subscribed to ${user.firstName} so you can't view their private posts.
        </p>
      #{/elseif}
      #{else}
        <p>
          ${user.firstName} is a slacker. They have no private blogs at the moment.
        </p>
      #{/else}
    </div>
  </div>
  <a href="/home" class="btn btn-success">Back Home</a>
</div>